# Only accessible from server components, server actions and proxy.ts
BACKEND_API_URL=https://api.rentora.itsaffan.com/api/v1
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
GOOGLE_SITE_VERIFICATION=

# Accessible from the client and the server
NEXT_PUBLIC_SITE_URL=http://localhost:3000
